  .header {
    margin: 0;
    background-color: rgb(122, 122, 122);
    color: white;
}
body {
    text-align: center;
    margin: 0;
}

ul {
  margin-left: 40%;
  text-align: left;
}
ol {
  text-align: left;
}