.header {
    margin: 0;
    padding: 20px;
    text-align: center;
    background-color: rgb(122, 122, 122);
    color: white;
}

body {
    margin: 0;
}
.recipes {
    display: flex;
    flex: 2 2 0;
    flex-direction: row;
    flex-flow: wrap;
}

.recipes div {
    display: flex;
    flex-direction: column;
}

div img {
    height: 250px;
    width: 250px;
    margin: 5px;
}