.header {
    margin: 0;
    padding: 20px;
    text-align: center;
    background-color: rgb(122, 122, 122);
    color: white;
}

body {
    margin: 0;
}
.recipes div {
    margin-top: 25px;
    display: inline-block;
    width: 250px;
    text-align: center;
    margin: 5px;
}

a {
}

div img {
    height: 250px;
    width: 250px;
    margin: 5px;
}
